body{
	background-image:url("../../../../img/felt.png");
	font-family:arial;
}
body,html{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}

.deck .card{
	
	float:left;
}

.hide{
	display:none;
}
