.navbar {
    border-radius: 0;
}

.navbar-header h1{
    margin-top:0;
}

.main-floats{
	float:left;
}

#play-area{
	/*height:100%;*/
}

#play-zone{

}

#flop{
    width: 24em;
    height: 18em;
    margin-left: 25%;
    padding-top: 108px;
}


#flop .card{
	float:left;
	font-size:1.6em;
}


#play-button{
	position:relative;
	margin:10% auto 0 auto;
	display:inline-block;
	z-index:9999;
}

#right-bar{
	/*height:100%;*/
	background:rgba(0,0,0,.2);
}

#chat {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    right: 48px;
    height: 50%;
    background: beige;
    color: #FFF;
    overflow: hidden;
    width: 300px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#chat .sub-hdr{
	background:rgba(0,0,0,.2);
	font-weight:bold;
	padding:7px;
	height:34px;
}

#chat .tog-chat{
    position:absolute;
    top:0;
    right:0;
    padding-top:7px;
    padding-right:9px;
}
#chat .tog-chat{
    cursor: pointer;
}
#new-msg{
    display: inline-block;
    background: beige;
    color: red;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 11px;
    font-weight: bold;
    padding-top: 1px;
}
#revolution{
	position:fixed;
	left:50%;
	margin-left:-7em;
	top:20%;
	z-index:999;
	font-size:2em;
	background:red;
	padding-top:.35em;
	width:14em;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	border:.5em solid gray;
	color:white;
}
#revolution .rev-title{font-size:2em;
	font-stretch:extra-condensed;
	font-family:impact;}

#chat .cont {
	padding:8px;
    position: absolute;
	
	top:34px;
	bottom:20px;
	left:0;
	right:0;
	overflow-y:scroll;
	height:auto;
}


#chat ul {list-style:none;padding-left: 14px;}
#chat ul li.chat:before{content:"-"; position:relative; left:-5px;}
#chat ul li{ text-indent:-5px; }

#chat .move-text{color:#666;}
#chat #input{
	height:24px;
	position:absolute;
	bottom:0;
	width:274px;
}

#chat input{
	background:rgba(48,48,48,1);
	color:white;
    width:255px;
}
#chat i.fa-smile-o{
    color:rgb(48,48,48);
    font-size:1.3em;
}
#chat i.fa-smile-o:hover{
    cursor: pointer;
}

.smiley-table ul{
    width: 160px;
    margin-left: 24px;
    background: beige;
    position: absolute;
    bottom: 12px;
    right: 17px;
    z-index: 999;
    padding: 12px;
    box-shadow: -2px -2px 12px #999;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid #ccc;
}

.smiley-table li:hover{
    cursor: pointer;
}
#chat .notif{
    color:#007FFF;
}
#chat .chat{
    color:#666;
}
#chat .error{
    color:#FF0700;
}
#toolbar{
	background:rgba(128,128,128,.8);
	padding:24px;
	max-width:800px;
}


#toolbar div.btn{
	margin-left:12px;
}

#slide-wrap{
	float:left;
	position:relative;
	top:-8px;
	margin-left:12px;
	width:80px;
	color:white;
}

#resizer{
	position:relative;
	top:4px;
}
